<h1>
	Inspiration, Frustration, Idealology
</h1>

<p>
	It really started out as inspiration spawning from success. I went threw life like a lot of typical Canadians:
	traditional schooling, off to University, and then to a job. And as typical lives go, I was exposed to a lot of
	presentations. And I mean a lot. I mean if you really sit back and think about how many presentations we give and
	sit through in our lives it's really quite amazing. Everything from a teaher teaching a class, to a salesman at
	Best Buy, to you confronting your boss about an issue you have - presentations fill our lives in huge numbers in
	many different forms.
</p>

<p>
	So like any other person going through life, I just naturally found myself presenting and observing presentations.
	But it wasn't until my professional career in the Software industry that I found myself truly analyzing presentations.
	I looked back at my own presentations and found myself getting better and better and what's more is I could pinpoint
	why things were getting better. This gave me inspiration to constantly strive to be better presenter.
</p>

<p>
	In time, I was setting up workshops with co-workers and giving presentations on how to be a better presenter and things
	were going well - but it just wasn't enough. This is where my frustration started settling in. For every person I tried
	to coach to be a better presenter, there was about 500 others that sticking to bad habits. And I don't blame the individual.
	I actually blame the entire presenting culture that the world has set out that people time and time again mimic. I would
	be sitting in presentations getting incresingly frustrated with just how bad some people present. I'm sorry but it's true.
</p>

<p>
	Then came the idea - to change the world and the way it thinks about presenting. It was so much more about than just educating a
	few people on some tools and techniques they can use - it now became and entire philosophy about presenting and how the world views
	it. The reality is - there are a select few people and a select few companies who get it. But the majority of people I've observed
	in my life just don't.
</p>
<p>
	That's why I founded WhatsWrongWithPresentations.com - to open the world's eyes to what a small minority understand. Yes, this site
	is filled with tools and techniques - but they are all created with the goal to change the way you think about presenting.
</p>
<p>
	Casey Li, Founder of WWWP
</p>
