/* General */

body {
	background-color: #555555;
	color: #eeeeee;
	font-size:75%;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	min-height: 2000px;
}

.container {
	width: 700px;
	margin:0 auto;
}

.right-justified {
	display:block;
	text-align:right;
}

.center-justified {
	display:block;
	text-align:center;
}

/* Index */

.index_image_link {
	width:120px;
}

/* Navigation */

nav {
	padding: 1em 0em;
	white-space: nowrap;
}

.header_image_link {
	width:50px;
}

/* Links */
a, a:visited {
	color: white;
	text-decoration:none;
}

a:hover {
	color: white;
	text-decoration:underline;
}


/* Lists */

ul.bodylist {
	padding: 0 0 0 0;
}

ul.bodylist li {
	list-style-type: none;
}

ul.bodylist li a {
	font-size: 1.3em;
	border: 1px solid;
	border-radius: 10px;
	padding: 5px 5px 5px 5px;
	margin: 5px auto 5px 0;
	text-decoration: none;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#001d41));
	display: block;
	width: 100%;
}

ul.bodylist li a:hover {
	text-decoration: none;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#001d41));
	display: block;
}

/* Flashes */
/* Error Messages */

#error_explanation {
  width: 400px;
  border: 2px solid;
  border-color: #ABABAB;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #fff;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #CAA;
  color: #303030;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
  color: #000;
}

.flash {
	width: 400px;
	border: 2px solid;
	padding: 10px 10px 10px 10px;
	background: #fff;
	color: #000000;
}

.success {
	border-color: green;
}

.error {
	border-color: red;
}